.jumbotron{
    background: #00adb5;
    padding-bottom: 1em;
    padding-top: 1em;
    margin-bottom:0;
    color: #eaeaea;
    text-shadow: 1px 1px 4px #303841;
    max-width: 100%;
}
.navigation{
    background: #eaeaea;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.btn{
    color: #eaeaea;
    font-weight: 900;
    font-family: 'Maven Pro', sans-serif;
    transition: 600ms;
    background-color: #00adb5;
    border-radius: 3rem;
    text-shadow: 1px 1px 3px #303841; 
}

#tryagain{
    font-weight: 900;
    font-family: 'Maven Pro', sans-serif;
    color: #00adb5;
    text-shadow: 1px 1px 3px #303841;
}

body{
    background: #303841;
}

.square{
    width: 30%;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 25px;
    transition: 600ms;
    cursor: pointer;
}
.gamebg{
    max-width: 600px;
    margin: 6% auto;
}
.wrongbox{
    background: #303841;
}

.square:hover{
    transition: 600ms;
    border-radius: 100px;
    transform: rotate(90deg);
}
