body{
    background-image: url(https://images.unsplash.com/photo-1524785281156-c3c68d1e03c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1920&q=1080);
    background-size: cover no-repeat;
}

h1, h2{
    font-family: 'Raleway', sans-serif;

}

.card{
    margin-top: 12rem;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5%;
}

#btnlogin{
    background-color: #00adb5;
    border-radius: 1rem; 
    border: 0px;
}
#btnregister{
    background-color: #0082b2;
    border-radius: 1rem;
    border: 0px;
}
#coloricon{
    margin-bottom: 1rem;
    width: 8rem;
}